<!DOCTYPE html>
<html>
    <head>
        <centre><title>Kirstys Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Kirstys Blog</a></h1>
        </header>

        <article>
            <time>published: 10.05.2022, 12:00</time>
            <h2><a href="">My first post</a></h2>
            <p><centre> <marquee>LONG LIVE MARQUEE!!</marquee> </centre></p>
        </article>

        <article>
            <time>published: 14.05.2022, 12:55</time>
            <h2><a href="">My second post</a></h2>
            <p>My previous statement still stands...</p></centre>
        </article>
    </body>

    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    
    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
    
</html>
